plots/
SiC_81/
Sil_81/
Gra_81/
Old code/
PAHneu_30/
run/
test/
suvSil_81/
Sil_21
*.png
Sil_21
draine_test_1_585
draine_test_0_02512
Sil_21
draine_data_Gra_10_0
draine_data_SiC_10_0
Sil_21
*.png
__pycache__/constants.cpython-39.pyc
__pycache__/read_BPASS.cpython-39.pyc
